API_ID= 22498794
API_HASH= 478083c48d2a9681d487f60531312856
BOT_TOKEN=8017767191:AAE8oHBtjoEPgJYt280z1z8igZLwDi_XVP0
OWNER_ID= 7759422732
MONGO_DB_URI= mongodb+srv://danishzain1637:papaspartan@cluster0.xdje3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID= -1002326978258
MUSIC_BOT_NAME= tseries music
STRING_SESSION= BQFNtIsArGJSGgL5dJe4epv9GiwMcR4mpddgpF89jJ9NMujj4rWl6eiMz9rb5D6wpPXNPF_GM3AAWhTm92KctOdh0FBx0KZ7qGf5TZ9jIps4xdt4SSSk-r0o9GKPITaUSXUyn1Gb_3HtniGqt5_dnRwRcWLqlHzGZ57r2eQe1PxiC5OdmfjUAizPXdcaEsgRzTHJ0GB5XpKGz9VsIUfdc4JJUw2WJeq3bAu9glPI1otA7crz_CkQFteciR_Jn9WXZUswV3w4epeXUMDx92AG8PzGz-RM1BtwPXLhq9HlTFqzs2gRSBiQhqDkCfREWi5dZ4olIVrG67yUvNTPmJVIwk1OhhUzfAAAAAHopviYAA
COOKIES= https://batbin.me/foederis
